.side-menu {
    height: 100%;
    background-color: #fff;
    box-shadow: 2px 0px 0px rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 75%;
    max-width: 500px;
    z-index: 200;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    transform: translateX(-100%);
    transition: transform 0.3s ease-out;
}

.side-menu a {
    margin: 0.5rem 0;
    text-decoration: none;
    font-size: 1.2rem;
}

.side-menu.open {
    transform: translateX(0);
}

@media (min-width: 769px) {
    .side-menu {
     display: none; 
    }
  }