.locationContainer {
    display: flex;
    flex: 1;
}

.crawlContainer{
display: flex;
flex: 1;
flex-direction: column;
margin: 0 auto;
padding: 25px;
height: 90vh;
background-color: #ffffff;
/* margin-top: 10vh; */
color: #049DD8;
/* align-items: center; */
}

.btn-crawl {
    cursor: pointer;
}

.pMain {
    font-size: 25px;
    margin: 0 2vw;
    padding: 2vw;
}

.spanHighlight {
    background-color: #FFED03;
}

li {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 24px;
  }

.choose-location,
.choose-number,
.lets-crawl {
    border-bottom: 7px solid #FFED03;
    display: inline-block;
    line-height: 1.5;
    font-size: 28px;
    cursor: pointer;
    transition: border-bottom .5s linear 1s;
}

.highlight-green {
    border-bottom: 7px solid #49F56B;
}

h1 {
    font-size: 72px;
    padding: 0 10px;
}

.location-container,
.number-container,
.btn-crawl {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.liOption {
    cursor: pointer;
    padding-left: 5vw;
}

.liNumbers {
    cursor: pointer;
    padding-left: 6vw;
}

.arrow-right {
    width: 0; 
    height: 0; 
    border-top: 25px solid transparent;
    border-bottom: 25px solid transparent;
    border-left: 25px solid #FFED03;
    padding-left: 20px;
    margin-left: 1vw;
    transition: border-left .5s linear 1s;
  }

  .arrow-green {
    border-left: 25px solid #49F56B;
  }

  .restTitle {
    color: #049DD8;
    }
    
  
    .restImg {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  
    .coverImage {
      background: lightgreen;
      height: 25vh;
      width: 40vh;
    }
  
    .cardContainer {
      display: flex;
      flex-direction: row;
      margin: 10px auto;
    }
  
    .restInfo {
      width: 60vw;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  
    .yellowLine {
      border-bottom: 4px solid yellow;
    }
  
    .ratingContainer > img {
      height: 2vh;
  }
  
  .mapPin {
    height: 5vh;
  }
  
  .restAddInfo {
    display: flex;
    margin: 2vh 0;
  }
  
  .ratingContainer {
    margin: 1vh 0;
  }

  @media (max-width: 769px) {
    .locationContainer {
      flex-direction: column;
  }
    .hidden {
      display: none;
    }
    
    h1 {
      font-size: 48px;
  }

  .choose-location, .choose-number, .lets-crawl {
    border-bottom: 4px solid #FFED03;
    line-height: 1.2;
    font-size: 20px;
}
  li {
    font-size: 20px;
  }
}