* {
  margin: 0;
  padding: 0;
}

/* @import url(https://fonts.googleapis.com/css?family=Baloo+Bhai|Montserrat|Raleway:600&display=swap);
h1 {
  font-family: 'Baloo Bhai', cursive;
  font-size: 48px;
} */

html {
  height: 100%;
}

body {
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  background-image: url('./tacopattern3.svg');
  background-attachment: fixed;
  background-repeat: repeat;
  background-color: #FFFCF7;
  
}


.pin {
  width: 25px;
}