* {
  margin: 0;
  padding: 0;
}

@import url("https://use.typekit.net/isb6eva.css");
h1 {
  font-family: giulia, sans-serif;
  font-size: 48px;
}

html {
  height: 100vh;
}

body {
  height: 100vh;
  font-family: "hwt-republic-gothic-solid", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  background-color: #FFFCF7;  
}

.bkg-shape {
  background-image: url(/static/media/tacopattern3.9988bad6.svg);
  background-attachment: fixed;
  background-repeat: repeat;
  height: 100vh;
  position: absolute;
  z-index: -1;
  width: 100vw;
  /* animation: grow 8000ms 2000ms infinite ease-in-out; */
}

.KUsePattern1 {
  animation: grow 8000ms 2000ms infinite ease-in-out;
}

@keyframes grow {
  0% {
    transform: scale(1);

  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

.pin {
  width: 25px;
}

.parent-container {
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}