* {
  margin: 0;
  padding: 0;
}

@import url("https://use.typekit.net/isb6eva.css");
h1 {
  font-family: giulia, sans-serif;
  font-size: 48px;
}

html {
  height: 100vh;
}

body {
  height: 100vh;
  font-family: hwt-republic-gothic-solid, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  /* background-image: url('./tacopattern3.svg'); */
  background-attachment: fixed;
  background-repeat: repeat;
  background-color: #FFFCF7;
  
}

.pin {
  width: 25px;
}

.parent-container {
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}